@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .min-w-56 {
        min-width: 14rem
    }
    .mr-card-cp-center{
        margin-right: 35.5%;
        margin-top: 22%;
        
    }

    .box-shadow-cp {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    }

    .overflow-invisible {
        overflow-x: auto;
        
    }
    .overflow-invisible::-webkit-scrollbar {
        width: 0px;
        display: none;
        
    }
    .overflow-inverted{
        direction: rtl;
    }


}

@layer base {

    /* ============= Beautiful Scroll ============== */
    .beautiful-scroll {
        scrollbar-width: thin !important;
    }
    
    .beautiful-scroll::-webkit-scrollbar-thumb {
        @apply bg-gray-400;
        @apply rounded-sm;
    }
    
    .beautiful-scroll::-webkit-scrollbar {
        width: 12px;
    }

    /* ============ footer ============ */
    .navegationUl {
        @apply text-3xl;
        @apply text-gray-400;
        @apply flex w-full;
        @apply text-center;
        @apply justify-center;
    }

    .navegationUl li {
        @apply relative;
        @apply w-20;
        @apply h-16;
        @apply z-10;
    }

    .navegationA {
        @apply relative;
        @apply flex;
        @apply justify-center;
        @apply items-center;
        @apply flex-col;
        @apply w-full;
    }

    .navegationIcon {
        @apply relative;
        @apply block;
        transition: 0.5s;
    }

    .navegationUl li.active .navegationIcon {
        transform: translateY(-41px)
    }

    .navegationIndicator {
        @apply absolute;
        @apply w-16;
        @apply h-16;
        @apply bg-constrast;
        @apply rounded-full;
        @apply border-8;
        @apply box-content;
        transition: 0.5s;
        top: -50%;
    }


    .navegationIndicator::before {
        content: '';
        @apply absolute;
        top: 60%;
        left: -16px;
        @apply w-4;
        @apply h-5;
        background: transparent;
        border-top-right-radius: 20px;
        box-shadow: 0px -10px 0px 0 #DEDEDE;
        /* color primary */
    }

    .navegationIndicator::after {
        content: '';
        @apply absolute;
        top: 60%;
        right: -16px;
        @apply w-4;
        @apply h-5;
        background: transparent;
        border-top-left-radius: 20px;
        box-shadow: 0px -10px 0px 0 #DEDEDE;
        /* color primary */
    }

    .home~.navegationIndicator {
        transform: translateX(max(-40vw, -160px));
    }

    .wallet~.navegationIndicator {
        transform: translateX(max(-20vw, -80px))
    }

    .money~.navegationIndicator {
        transform: translateX(0px)
    }

    .chart~.navegationIndicator {
        transform: translateX(min(20vw, 80px))
    }

    .config~.navegationIndicator {
        transform: translateX(min(40vw, 160px))
    }

    /* ============ Card ============ */
    .card{
        @apply w-5/6;
        @apply min-w-56;
        @apply h-40;
        @apply rounded-xl;
        @apply box-shadow-cp;
        @apply text-lg;
        @apply relative;
        @apply p-3;
    }
}

body {
    background-color: #080a13;

}