@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .top-70-n {
        top: -70%;
    }
}
@layer base {
    
    .beautiful-scrool {
        scrollbar-width: thin !important;
    }

    .beautiful-scrool::-webkit-scrollbar-thumb {
        @apply bg-gray-400;
        @apply rounded-sm;
    }

    .beautiful-scrool::-webkit-scrollbar {
        width: 12px;
    }

    /* ============ footer ============ */
    .navegationUl{
        @apply text-3xl ;
        @apply text-gray-400;
        @apply flex w-full;
        @apply text-center;
        @apply justify-center;
    }
    .navegationUl li {
        @apply relative;
        @apply w-20;
        @apply h-16;
        @apply z-10;
    }

    .navegationA {
        @apply relative;
        @apply flex;
        @apply justify-center;
        @apply items-center;
        @apply flex-col;
        @apply w-full;
    }

    .navegationIcon {
        @apply relative;
        @apply block;
        transition: 0.5s;
    }

    .navegationUl li.active .navegationIcon {
        transform: translateY(-57px)
    }

    .navegationIndicator {
        @apply absolute;
        @apply w-16;
        @apply h-16;
        @apply bg-constrast;
        @apply rounded-full;
        @apply border-8;
        @apply box-content;
        transition: 0.5s;
        @apply top-70-n;

    }

    .navegationIndicator::before {
        content: '';
        @apply absolute;
        top: 77%;
        left: -16px;
        @apply w-5;
        @apply h-5;
        background: transparent;
        border-top-right-radius: 20px;
        box-shadow: 0px -10px 2px 0 #DEDEDE; /* color primary */
    }
    .navegationIndicator::after {
        content: '';
        @apply absolute;
        top: 77%;
        right: -16px;
        @apply w-5;
        @apply h-5;
        background: transparent;
        border-top-left-radius: 20px;
        box-shadow: 0px -10px 2px 0 #DEDEDE; /* color primary */
    }
}

body {
    background-color: #080a13;

}