@tailwind components;

@layer components {
    .slide .slide__item.active {
        @apply bg-constrast;
        @apply rounded-lg;
        @apply transition-colors;
        @apply duration-500;
    }
}

.slide {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;
    padding: 25px 30px 40px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scroll-padding-top: 99999px;

    &::-webkit-scrollbar {
        display: none;
    }

    & .slide__item {
        display: inline;

        &:target {
            scroll-margin-top: 9999px;
        }

    }
    a {
        scroll-snap-align: center;
    }
}